In [ ]:
import matplotlib as plt
import pandas as pd
import numpy as np
import seaborn as sb
from pathlib import Path
import matplotlib.pyplot as plot

In [ ]:
DIR = r"C:\Temp\ML_Fruad_Files"
DIR_PROTOCOL = r"C:\Temp\ML_Fruad_Files\Protocol"
DIR_Neighborhood = r"C:\Temp\ML_Fruad_Files\Neighborhood_Clusters"

In [ ]:
# creating directory and folder
folder_path = Path(DIR_PROTOCOL)
folder_path.mkdir(parents=True, exist_ok=True)

In [ ]:
df=pd.read_pickle(f'{DIR}\df_after_stage3.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29210 entries, 0 to 29209
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 29210 non-null  category
 1   lat                    29210 non-null  float64
 2   long                   29210 non-null  float64
 3   acct_num               29210 non-null  category
 4   amt                    29210 non-null  float64
 5   is_fraud               29210 non-null  bool
 6   merch_lat              29210 non-null  float64
 7   merch_long             29210 non-null  float64
 8   street_type            29210 non-null  category
 9   cust_cluster           29210 non-null  category
 10  num_neighborhoods      29210 non-null  int64
 11  distance_merch_cust    29210 non-null  float64
 12  job_category           29210 non-null  category
 13  is_Risk Manager_Job    29210 non-null  bool
 14  category_group         29210 non-null  category
 15  trans_month            29210 non-null  category
 16  trans_day_of_week_num  29210 non-null  category
 17  trans_hour             29210 non-null  int64
 18  trans_hour_category    29210 non-null  category
 19  age_group              29210 non-null  category
 20  merchant_grouped       29210 non-null  category
dtypes: bool(2), category(11), float64(6), int64(2)
memory usage: 2.1 MB

In [ ]:

if 'acct_num' in df:
    summary = df.groupby('acct_num', observed=False).agg(
        num_transactions=('amt', 'count'),
        max_amount=('amt', 'max'),
        min_amount=('amt', 'min'),
    ).reset_index()

    # Count how many customers share the same pattern
    pattern_counts = summary.groupby(['num_transactions', 'max_amount', 'min_amount'], observed=False).size().reset_index(name='num_customers')

    print(pattern_counts)
# in this check it can be seen that for every data set of 'num_transactions', 'max_amount', 'min_amount'
# has one customer.
# so we can use this 3 features to identify customer instead acct_num feature

    num_transactions  max_amount  min_amount  num_customers
0                  9      982.53        5.71              1
1                343     1124.75        1.04              1
2                347     1293.58        1.00              1
3                353     1248.15        1.03              1
4                358     1221.96        1.30              1
5                358     1446.51        1.02              1
6                366     1355.38        1.04              1
7                374     1094.40        1.02              1
8                375     1792.94        1.13              1
9                386     1097.58        1.08              1
10               703     1800.25        1.01              1
11               705     1152.76        1.17              1
12               708     1868.14        1.01              1
13               715     3838.83        1.06              1
14               716     1537.89        1.03              1
15               723     1197.84        1.07              1
16               731     2728.35        1.06              1
17               733      971.19        1.00              1
18               733     3671.83        1.03              1
19               741     1722.06        1.01              1
20               745     1928.90        1.01              1
21               746     1226.66        1.08              1
22               747      906.85        1.05              1
23               750     1090.34        1.19              1
24               751     3373.43        1.01              1
25               752     1404.41        1.00              1
26               773     1562.74        1.00              1
27              1059     2680.82        1.02              1
28              1060     1392.39        1.01              1
29              1079     1411.18        1.01              1
30              1123     5922.32        1.01              1
31              1129     3882.52        1.03              1
32              1429      798.28        1.04              1
33              1466     2761.50        1.04              1
34              1485     2744.90        1.00              1
35              1813     8535.86        1.02              1
36              1826     2184.03        1.00              1

In [ ]:
# creating 3 new feature instead acct_num
if 'acct_num' in df:
    df_new_features = df.groupby('acct_num', observed=False).agg(
        num_transactions=('amt', 'count'),
        max_amount=('amt', 'max'),
        min_amount=('amt', 'min'),
    ).reset_index()

    df = df.merge(df_new_features, on='acct_num', how='left')
    df = df.drop(columns=['acct_num'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29210 entries, 0 to 29209
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 29210 non-null  category
 1   lat                    29210 non-null  float64
 2   long                   29210 non-null  float64
 3   amt                    29210 non-null  float64
 4   is_fraud               29210 non-null  bool
 5   merch_lat              29210 non-null  float64
 6   merch_long             29210 non-null  float64
 7   street_type            29210 non-null  category
 8   cust_cluster           29210 non-null  category
 9   num_neighborhoods      29210 non-null  int64
 10  distance_merch_cust    29210 non-null  float64
 11  job_category           29210 non-null  category
 12  is_Risk Manager_Job    29210 non-null  bool
 13  category_group         29210 non-null  category
 14  trans_month            29210 non-null  category
 15  trans_day_of_week_num  29210 non-null  category
 16  trans_hour             29210 non-null  int64
 17  trans_hour_category    29210 non-null  category
 18  age_group              29210 non-null  category
 19  merchant_grouped       29210 non-null  category
 20  num_transactions       29210 non-null  int64
 21  max_amount             29210 non-null  float64
 22  min_amount             29210 non-null  float64
dtypes: bool(2), category(10), float64(8), int64(3)
memory usage: 2.8 MB

In [ ]:
# Converting data into a format suitable for modeling.
if 'gender' in df:
    df['gender'] = df['gender'].astype('string')
    df['gender'] = df['gender'].replace(to_replace="F", value='1')
    df['gender'] = df['gender'].replace(to_replace="M", value='0')
    df.rename(columns={"gender": "is_female"}, inplace=True)
    df['is_female'] = df['is_female'].astype('int')

if 'street_type' in df:
    df = pd.get_dummies(df, columns=['street_type'], prefix='street')
if 'job_category' in df:
    df = pd.get_dummies(df, columns=['job_category'])
if 'category_group' in df:
    df = pd.get_dummies(df, columns=['category_group'])
if 'trans_hour_category' in df:
    df = pd.get_dummies(df, columns=['trans_hour_category'])
if 'age_group' in df:
    df = pd.get_dummies(df, columns=['age_group'], prefix='age')
if 'cust_cluster' in df:
    df = pd.get_dummies(df, columns=['cust_cluster'], prefix='cluster')
if 'trans_month' in df:
    df = pd.get_dummies(df, columns=['trans_month'], prefix='month')
if 'merchant_grouped' in df:
    df = pd.get_dummies(df, columns=['merchant_grouped'], prefix='merchant_freq')
if 'trans_day_of_week_num' in df:
    df = pd.get_dummies(df, columns=['trans_day_of_week_num'], prefix='day_of_week')

In [ ]:
df.to_pickle(f'{DIR}\df_after_stage4.pkl')
df.to_csv(f'{DIR}\Transactions_Customers_DC_2019_After_Stage4.csv', index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29210 entries, 0 to 29209
Data columns (total 75 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   is_female                            29210 non-null  int64
 1   lat                                  29210 non-null  float64
 2   long                                 29210 non-null  float64
 3   amt                                  29210 non-null  float64
 4   is_fraud                             29210 non-null  bool
 5   merch_lat                            29210 non-null  float64
 6   merch_long                           29210 non-null  float64
 7   num_neighborhoods                    29210 non-null  int64
 8   distance_merch_cust                  29210 non-null  float64
 9   is_Risk Manager_Job                  29210 non-null  bool
 10  trans_hour                           29210 non-null  int64
 11  num_transactions                     29210 non-null  int64
 12  max_amount                           29210 non-null  float64
 13  min_amount                           29210 non-null  float64
 14  street_APT                           29210 non-null  bool
 15  street_OTHER                         29210 non-null  bool
 16  street_SUITE                         29210 non-null  bool
 17  job_category_Arts_Culture_&_Leisure  29210 non-null  bool
 18  job_category_Finance_&_Risk          29210 non-null  bool
 19  job_category_Govt_&_Admin            29210 non-null  bool
 20  job_category_Health_&_Care           29210 non-null  bool
 21  job_category_Land_&_Environment      29210 non-null  bool
 22  job_category_Retail_&_Marketing      29210 non-null  bool
 23  job_category_Specialist_&_Technical  29210 non-null  bool
 24  category_group_Entertainment         29210 non-null  bool
 25  category_group_Lifestyle(rare)       29210 non-null  bool
 26  category_group_Transport             29210 non-null  bool
 27  category_group_online                29210 non-null  bool
 28  category_group_retail_pos            29210 non-null  bool
 29  trans_hour_category_Night            29210 non-null  bool
 30  trans_hour_category_Morning          29210 non-null  bool
 31  trans_hour_category_Afternoon        29210 non-null  bool
 32  trans_hour_category_Evening          29210 non-null  bool
 33  age_21-50                            29210 non-null  bool
 34  age_51-60                            29210 non-null  bool
 35  age_61-70                            29210 non-null  bool
 36  age_71-85                            29210 non-null  bool
 37  cluster_1                            29210 non-null  bool
 38  cluster_11                           29210 non-null  bool
 39  cluster_15                           29210 non-null  bool
 40  cluster_18                           29210 non-null  bool
 41  cluster_2                            29210 non-null  bool
 42  cluster_20                           29210 non-null  bool
 43  cluster_25                           29210 non-null  bool
 44  cluster_26                           29210 non-null  bool
 45  cluster_33                           29210 non-null  bool
 46  cluster_39                           29210 non-null  bool
 47  cluster_4                            29210 non-null  bool
 48  cluster_40                           29210 non-null  bool
 49  cluster_6                            29210 non-null  bool
 50  cluster_7                            29210 non-null  bool
 51  cluster_9                            29210 non-null  bool
 52  month_1                              29210 non-null  bool
 53  month_2                              29210 non-null  bool
 54  month_3                              29210 non-null  bool
 55  month_4                              29210 non-null  bool
 56  month_5                              29210 non-null  bool
 57  month_6                              29210 non-null  bool
 58  month_7                              29210 non-null  bool
 59  month_8                              29210 non-null  bool
 60  month_9                              29210 non-null  bool
 61  month_10                             29210 non-null  bool
 62  month_11                             29210 non-null  bool
 63  month_12                             29210 non-null  bool
 64  merchant_freq_High                   29210 non-null  bool
 65  merchant_freq_Low                    29210 non-null  bool
 66  merchant_freq_Medium                 29210 non-null  bool
 67  merchant_freq_Very_Low               29210 non-null  bool
 68  day_of_week_0                        29210 non-null  bool
 69  day_of_week_1                        29210 non-null  bool
 70  day_of_week_2                        29210 non-null  bool
 71  day_of_week_3                        29210 non-null  bool
 72  day_of_week_4                        29210 non-null  bool
 73  day_of_week_5                        29210 non-null  bool
 74  day_of_week_6                        29210 non-null  bool
dtypes: bool(63), float64(8), int64(4)
memory usage: 4.4 MB